<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loan Approval</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <!-- Unicons -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
  </head>

  <body>
    <header>
      <h1>Loan Approval</h1>
      <nav>
        <ul class="nav_links">
          <li><a href="/">Home</a></li>
          <!-- <li><a href="">New Post</a></li> -->
          <li><a href="/signin">Signin</a></li>
          <li><a href="/signup">Signup</a></li>
        </ul>
      </nav>
    </header>

    {% block content %} {% endblock %}
  </body>
</html>
