{% extends "base1.html" %} {% block content %}
<div class="container">
  <div class="text-side">
    <div class="text">
      <h1>
        Prediction Of Modernized<br />
        <span>Loan Approval System</span><br />
        <span>Based on Machine Learning</span><br />
        Approach
      </h1>
    </div>
    <div class="image-side">
      <img
        class="image"
        src="{{ url_for('static', filename='pic1.png') }}"
        alt="Image"
      />
    </div>
  </div>
</div>

{% endblock %}
